@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
    font-family: "Bebas Neue";
    background-color: floralwhite;
    font-size: 20px;
    margin: 0 auto;

}

#allergy {
    color: darkred;
    font-weight: bold;
}

#burgers {
    color: white;
    background-color: pink;
    padding: 7px;
    border: 4px dashed #ffffff;
    padding-bottom: 30px;
}


.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 420px 480px 480px
}

.c1 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.c2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.c3 {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

.t1 {
    grid-column: 1;
    grid-row: 2;
}

.t2 {
    grid-column: 2;
    grid-row: 2;
}

.t3 {
    grid-column: 3;
    grid-row: 2;
}

#contact {
    padding: 20px;
    margin-right: 500px;
    margin-left: 500px;
    border: 4px solid #ffffff;
}

#title {
    font-family: "Lobster";
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-left: 300px;
    margin-right: 280px;
    margin-top: -380px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border: 15px solid #ffffff;
    position: absolute;

}

#title2 {
    text-align: center;
}

#header {
    height: 500px;
    width: 100%;
    margin-top: 70px;
}

#headerimg {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 70px;
    opacity: 0.80;
}

#image {
    text-align: center;
}

#radio {
    padding-bottom: 30px;
}

button:hover {
    background-color: lightgreen;
}

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
